name: NSE EOD Signal Bot

on:
  schedule:
  - cron: '45 11 * * 1-5'   # 5:15 PM IST weekdays
  workflow_dispatch:

jobs:
  run-notebook:
    runs-on: ubuntu-latest

    steps:
      - name: Cron heartbeat
        run: |
          echo "Triggered by schedule at:"
          date

      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          pip install nbconvert ipykernel

      - name: Execute notebook
        env:
          BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
          CHAT_ID: ${{ secrets.CHAT_ID }}
        run: |
          jupyter nbconvert --to notebook --execute backtestingStrategy.ipynb
